<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ingredient Generator</title>
</head>
<body>
    <div class="title">
        <form method="post" action="/dish/add" method="POST">
            <label for="name">输入菜名</label>
            <input type="text" name="name" size=10 placeholder="红烧肉">
            <input type="submit" value="Add">
        </form>
        <ul>
            <% items.forEach(function(item) { %>
                <li>
                    <%= item.name %>
                </li>
            <% }); %>
        </ul>            
    </div>
</body>
</html>